@import '../../styles/variables'
body 
  margin: 0
  padding: 0
  font-family: $pop
#container-post, #comentarios-users, #comentar-usuario
    width: 80vw
    border-right: black solid 1px
    margin: 0
    margin-left: 5vw 
    padding: 0
#post
    #likes
        padding: 5px
        p
            text-align: center
        img
            width: 30px
            height: 30px
#textopost
    width: 70%
#comentarios
    border-bottom: black solid 1px
    h2
        display: inline
    .comentario
        border-bottom: black dashed 1px
    .comentario:last-child
        border: 0
.aside
    position: absolute
    right: 0
    width: 13vw
    ul
        list-style: none
        li
            border: $blueLigth solid 1px
            border-radius: 5px
            padding: 20px
            width: fit-content
            background-color: $blueLigth
            margin: 5px
            a
                text-decoration: none
                color: #F3F3F3
                font-size: large