@import "../../styles/variables.sass"

.header-search, .footer-search
  border-radius: 10px
  img
    cursor: pointer
    border-radius: 8px
    margin-right: 5px
  input
    border: none
    border-radius: 10px
    padding: 10px
    &:focus
      border-color: inherit
      box-shadow: none
      background-color: transparent
      color: inherit

.footer-search
  border: 2px solid $whiteLigth
  width: calc( 100% - 80px )
  margin: 10px 40px
  img
    width: 20px
    height: 20px
  input
    background-color: $blueLigth
    color: $whiteLigth
    &::placeholder
      color: $whiteLigth

.header-search
  border: 2px solid $blueLigth
  width: 30%
  max-width: 400px
  input
    background-color: $greenLigth
    color: $blueLigth
    &::placeholder
      color: $blueLigth
