@import "../../styles/variables.sass"
#searchBar
  border: $whiteLigth solid 3.5px
  border-radius: 8px
  input
      width: 75%
      margin: 7px
      background-color: $blueLigth
      color: $whiteLigth
      border: 0
      &::placeholder
        color: $whiteLigth
      &:focus 
        outline: none
        border: none
  img
      width: 20px
      height: 20px
      margin-left: 5px
      
@media screen and (max-width: 576px) 
  #searchBar
    width: 200px

@media screen and (min-width: 576px) and (max-width: 992px) 
  #searchBar
    width: 200px

@media screen and (min-width: 992px)
  #searchBar
      width: 250px
