@import "../../styles/variables.sass"
#searchBar
  border: #fff solid 2px
  border-radius: 3px
  input
      width: 75%
      background-color: $blueLigth
      color: #fff
      border: 0
      &::placeholder
        color: #fff

  img
      width: 20px
      height: 20px
      margin-left: 5px
@media screen and (max-width: 576px) 
  div
    width: 150px

@media screen and (min-width: 576px) and (max-width: 992px) 
  div
    width: 200px

@media screen and (min-width: 992px)
    div
        width: 250px
