@import ../../styles/variables.sass

//HASTA AQUI LA CABECERA
.favorites-conatiner
    display: flex
    flex-direction: column
    align-items: center
    background-color: #f3f3f3
    width: 100%
    .filter
        margin-top: 20px
        position: relative
        left: 42%
    