@import '../../styles/variables.sass'
body
    background: $purpleLigth
    display: flex
    justify-content: center

h1
    font-family: 'Poppins'
    font-size: 36px
    color: $blueDark

label
    font-family: 'Poppins'
    color: $blueDark

input
    border-radius: 15px

.login
    margin-top: 150px
    width: 300px
    height: 450px
    background-color: $greenLigth
    border-radius: 15px

.btnLogin
    background-color: $blueDark
    color: $whiteLigth
    border-radius: 15px

@media screen and (min-width: 768px)
    .login
        width: 500px
        height: 350px    
    
@media screen and (min-width: 998px)
    .login
        width: 500px
        height: 400px  