@import ../../styles/variables.sass

.landing
    background-color: $whiteLigth
    width: 100vw

.container
    border-radius: 12px
    background-color: $purpleLigth
    width: 100%

.box1
    background-color: $greenLigth
    border-radius: 12px




