@import "../../styles/variables.sass"

footer
    width: 100%
    background-color: $blueLigth
    color: $whiteLigth
    div ul
        list-style: none
        width: 100%
        li
            margin-left: 25px
            font-family: $pop
            padding-bottom: 6px
    #logos-rrss
        align-items: flex-end
        width: 50%
        img
            margin-left: 10px
            cursor: pointer
            width: 40px
            height: 40px
    a
        color: $whiteLigth
        text-decoration: none
        &:hover
            color: $greenLigth