@import "../../styles/variables.sass"

footer
    padding: 10px
    width: 100%
    background-color: $blueLigth
    color: $whiteLigth
    div ul
        list-style: none
        width: 100%
        li
            margin-left: 25px
            padding: 6px
            font-family: $pop
            padding-bottom: 6px
    #logos-rrss
        align-items: flex-end
        width: 50%
        img
            margin: 10px
            cursor: pointer
    a
        color: $whiteLigth
        text-decoration: none
        &:hover
            color: $purpleLigth

@media screen and (max-width: 576px)
    #logos-rrss
        margin-left: 20px
    
    div#logos-rrss img
        width: 50px
        height: 50px

@media screen and (min-width: 576px) and (max-width: 992px) 
    div#logos-rrss img
        width: 40px
        height: 40px

@media screen and (min-width: 992px)
    div#logos-rrss img
        width: 50px
        height: 50px