@import ../../styles/variables.sass

.create-post-container
    font-family: $pop
    background-color: $grey
    h3
        color: $blueLigth
    p
        margin: 0
        font-size: 24px
        color: $blueLigth
        margin-bottom: 5px
    #contenido
        display: flex
        flex-direction: column
        margin: 0 20%    
        textarea 
            resize: none
            border-radius: 8px
        input
            border-radius: 8px
            height: 50px
    .labels-container
        margin: 50px 20% 0 
        .labels
            gap: 30px
        select
            background-color: $blueLigth
            border: none
            color: $whiteLigth
            width: 125px
            padding: 5px 10px
            border-radius: 10px
    #enlace
        margin: 0 20%    
        img
            height: 100px
            width: 100px
            margin-left: 25%
        button
            background-color: $blueLigth
            border: none
            color: $whiteLigth
            width: 150px
            border-radius: 16px
