@import ../../styles/variables.sass

.settings-container
    background-color: $purpleLigth
    h4
        color: $whiteLigth
    label
        color: $whiteLigth

.recuadro
    background-color: $blueLigth
    border-radius: 15px
    padding: 10px
    margin: 10px
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75)
    input
        border-radius: 10px
        border: none
        width: 200px
        height: 30px
        margin-bottom: 8px
    button
        background-color: $greenLigth
        color: $whiteDark
        border-radius: 10px
        border: none
        width: 170px
        height: 40px
    
#user
    width: 70px

#theme
    width: 60px
    height: 20px
    