@import "../../styles/variables.sass"
.form-control:focus
    border-color: inherit
    box-shadow: none
.lightmode
    position: sticky
    top: 0
    background-color: $greenLigth
    width: 100%
    height: 15vh
    display: flex
    justify-content: space-between
    align-items: center
    #cabe
        width: 100%
        height: 40px
        border: none
        border-radius: 8px
        background-color: $greenLigth
        border-color: $blueLigth
        padding: 10px
        position: relative
    #logo
        height: 12vh
    #user
        margin: 20px
    #search-container
        display: none
        border: 2px solid $blueLigth
            width: 30%
        border-radius: 8px
.darkmode
    background-color: $greenDark
    width: 100%
    height: 15vh
    display: flex
    justify-content: space-between
    align-items: center
    #cabe
        width: 100%
        height: 40px
        border: none
        border-radius: 8px
        background-color: $greenDark
        border-color: $blueLigth
        padding: 10px
        position: relative
    #logo
        height: 12vh
    #user
        margin: 20px
    #search-container
        display: none
        border: 2px solid $blueLigth
        width: 30%
        border-radius: 8px
#user-header
    width: 60px
    margin-right: 20px
        